.btnElements{
    position: fixed;
    top: 20%;
    left: 85%;
    border: 2px solid black;
    text-align: center;
    padding: 5px 10px;
}
.btnElements h3{
    color:black;
    font-weight: bold;
}
.btnElements input{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    width: 200px;
}
.btnElements input::placeholder{
    color:black;
    font-size: medium;
    font-weight: 600;
}
.btnElements #countDown{
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-top: 5px;
}
.btnElements button{
    color: black;
    background-color: aqua;
    font-size: medium;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin: 8px;
}