.btnElements{
    position: fixed;
    top: 20%;
    left: 83%;
    border: 2px solid black;
    text-align: center;
    padding: 5px 10px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.btnElements h3{
    color:black;
    font-weight: bold;
}
.btnElements input{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    font-size: medium;
    width: 200px;
    color: black;
}
.btnElements input::placeholder{
    color:black;
    font-size: medium;
    font-weight: 600;
}
.btnElements #countDown{
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-top: 5px;
}
.btnElements button{
    color: black;
    background-color: aqua;
    font-size: medium;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 7px;
    margin: 8px;
}
.btnElements p{
    position: absolute;
    font-weight: bold;
    right: 13px;
    filter: blur(0.4px);
}
.btnElements p:hover{
    cursor: none;
}
